app/Plugin/Admin/webroot/app/Usuario/index.jade
.row
	.col-md-7
		div(ng-include="'/admin/app/common/pagination.html'")
	.col-md-5
		.input-group(style="margin: 20px 0")
			input.form-control(name="pesquisaSacado",ng-model="Pesquisa.nome",placeholder="Pesquise pelo Nome")
			span.input-group-btn
				button.btn.btn-default(ng-click="pesqUsuario()", ng-disabled="Pesquisa.nome.length < 3", type="button") Pesquisar Usuários
				button.btn.btn-default(ng-click="Pesquisa.nome='';pesqUsuario()", type="button") Zerar Pesquisa

.panel.panel-primary
	.panel-heading.clearfix
		h3.panel-title Usuários
			span.pull-right Página {{pagination.page}} de {{pagination.pageCount}}
	.panel-body.clearfix.bg-info
		.btn-group.pull-right
			a.btn.btn-primary(ng-click="add()") Novo
	.panel-body(ng-if="loading")
		div(ng-include="'/admin/app/common/loading.html'")
	.panel-body(ng-if="norecords")
		div(ng-include="'/admin/app/common/norecords.html'")
	table.table.table-condensed(ng-if="!loading && !norecords")
		tr.active
			th.col-md-2 &nbsp;
			th Grupo
			th Usuário
			th Nome
			th Email
			th Login
		tr(ng-repeat="item in Usuarios")
			td
				.btn-group
					a.btn.btn-default(ng-click="edit(item)",tooltip="Editar")
						i.glyphicon.glyphicon-pencil
					a.btn.btn-default(ng-click="del(item)",tooltip="Excluir")
						i.glyphicon.glyphicon-trash
			td {{item.Grupo.nome}}
			td {{item.Usuario.username}}
			td {{item.Usuario.nome}}
			td {{item.Usuario.email}}
			td {{item.Usuario.last_login|date:'dd/MM/yy'}}

app/Plugin/Admin/webroot/app/Usuario/index.html

<div class="row">
  <div class="col-md-7">
    <div ng-include="'/admin/app/common/pagination.html'"></div>
  </div>
  <div class="col-md-5">
    <div style="margin: 20px 0" class="input-group">
      <input name="pesquisaSacado" ng-model="Pesquisa.nome" placeholder="Pesquise pelo Nome" class="form-control"/><span class="input-group-btn">
        <button ng-click="pesqUsuario()" ng-disabled="Pesquisa.nome.length &lt; 3" type="button" class="btn btn-default">Pesquisar Usuários</button>
        <button ng-click="Pesquisa.nome='';pesqUsuario()" type="button" class="btn btn-default">Zerar Pesquisa</button></span>
    </div>
  </div>
</div>
<div class="panel panel-primary">
  <div class="panel-heading clearfix">
    <h3 class="panel-title">Usuários<span class="pull-right">Página {{pagination.page}} de {{pagination.pageCount}}</span></h3>
  </div>
  <div class="panel-body clearfix bg-info">
    <div class="btn-group pull-right"><a ng-click="add()" class="btn btn-primary">Novo</a></div>
  </div>
  <div ng-if="loading" class="panel-body">
    <div ng-include="'/admin/app/common/loading.html'"></div>
  </div>
  <div ng-if="norecords" class="panel-body">
    <div ng-include="'/admin/app/common/norecords.html'"></div>
  </div>
  <table ng-if="!loading &amp;&amp; !norecords" class="table table-condensed">
    <tr class="active">
      <th class="col-md-2">&nbsp;</th>
      <th>Grupo</th>
      <th>Usuário</th>
      <th>Nome</th>
      <th>Email</th>
      <th>Login</th>
    </tr>
    <tr ng-repeat="item in Usuarios">
      <td>
        <div class="btn-group"><a ng-click="edit(item)" tooltip="Editar" class="btn btn-default"><i class="glyphicon glyphicon-pencil"></i></a><a ng-click="del(item)" tooltip="Excluir" class="btn btn-default"><i class="glyphicon glyphicon-trash"></i></a></div>
      </td>
      <td>{{item.Grupo.nome}}</td>
      <td>{{item.Usuario.username}}</td>
      <td>{{item.Usuario.nome}}</td>
      <td>{{item.Usuario.email}}</td>
      <td>{{item.Usuario.last_login|date:'dd/MM/yy'}}</td>
    </tr>
  </table>
</div>
