app/Plugin/Admin/webroot/app/Retorno/index.html

<div class="row">
  <div class="col-md-7">
    <div ng-include="'/admin/app/common/pagination.html'"></div>
  </div>
  <div class="col-md-5">&nbsp;</div>
</div>
<div class="panel panel-primary">
  <div class="panel-heading clearfix">
    <h3 class="panel-title">Retornos<span class="pull-right">Página {{pagination.page}} de {{pagination.pageCount}}</span></h3>
  </div>
  <div class="panel-footer clearfix">
    <div style="height:150px;" nv-file-drop="nv-file-drop" uploader="uploader" class="well">Arraste e solte um arquivo aqui para envia-lo ao sistema.</div>
  </div>
  <table ng-if="uploader.queue.length &gt; 0" class="table">
    <tr>
      <th>Nome</th>
      <th>Tamanho</th>
      <th>Progresso</th>
      <th>&nbsp;</th>
    </tr>
    <tr ng-repeat="item in uploader.queue">
      <td>{{item.file.name}}</td>
      <td>{{item.file.size}}</td>
      <td ng-show="uploader.isHTML5">
        <div style="margin-bottom: 0;" class="progress">
          <div role="progressbar" ng-style="{ 'width': item.progress + '%' }" style="width: 0%;" class="progress-bar"></div>
        </div>
      </td>
      <td>
        <button type="button" ng-click="item.upload()" ng-disabled="item.isUploading" class="btn btn-success btn-xs"><i tooltip="Enviar" class="glyphicon glyphicon-upload"></i></button>
        <button type="button" ng-click="item.cancel()" ng-disabled="!item.isUploading" disabled="disabled" class="btn btn-warning btn-xs"><i tooltip="Cancelar" class="glyphicon glyphicon-ban-circle"></i></button>
      </td>
    </tr>
  </table>
  <div ng-if="loading" class="panel-body">
    <div ng-include="'/admin/app/common/loading.html'"></div>
  </div>
  <div ng-if="norecords" class="panel-body">
    <div ng-include="'/admin/app/common/norecords.html'"></div>
  </div>
  <div ng-if="!loading &amp;&amp; !norecords" class="panel-body">
    <div ng-repeat="item in Retornos" class="col-md-6 pull-left">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">{{item.Retorno.arquivo }}</div>
        </div>
        <div style="height: 300px; overflow: auto" class="panel-body">
          <table class="table">
            <tr>
              <th>Número</th>
              <th>Sacado</th>
              <th>Vencimento</th>
              <th>Valor</th>
              <th>Situação</th>
            </tr>
            <tr ng-repeat="boleto in item.BoletoNovoRetorno">
              <td>{{boleto.boletonovo_id}}</td>
              <td ng-if="boleto.BoletoNovo.Sacado">{{boleto.BoletoNovo.Sacado.nome_razaosocial}}</td>
              <td ng-if="boleto.BoletoNovo.Sacado">{{boleto.BoletoNovo.data_vencimento|date:'d/MM/yy'}}</td>
              <td ng-if="boleto.BoletoNovo.Sacado">{{boleto.BoletoNovo.valor|currency}}</td>
              <td ng-if="boleto.BoletoNovo.Sacado">{{boleto.BoletoNovo.SituacaoBoleto.descricao}}</td>
              <td colspan="4" ng-if="!boleto.BoletoNovo.Sacado" class="text-danger">Boleto não existente!</td>
            </tr>
          </table>
        </div>
        <div class="panel-footer clearfix">
          <div class="btn-group pull-right"><a ng-click="del(item)" tooltip="Excluir" class="btn btn-default"><i class="fa fa-2x fa-trash"></i></a></div>
        </div>
      </div>
    </div>
  </div>
</div>

app/Plugin/Admin/webroot/app/Retorno/index.jade
.row
	.col-md-7
		div(ng-include="'/admin/app/common/pagination.html'")
	.col-md-5 &nbsp;
.panel.panel-primary
	.panel-heading.clearfix
		h3.panel-title Retornos
			span.pull-right Página {{pagination.page}} de {{pagination.pageCount}}
	.panel-footer.clearfix
		.well(style="height:150px;",nv-file-drop,uploader="uploader") Arraste e solte um arquivo aqui para envia-lo ao sistema.
	table.table(ng-if="uploader.queue.length > 0")
		tr
			th Nome
			th Tamanho
			th Progresso
			th &nbsp;
		tr(ng-repeat="item in uploader.queue")
			td {{item.file.name}}
			td {{item.file.size}}
			td(ng-show="uploader.isHTML5")
				.progress(style="margin-bottom: 0;")
					.progress-bar(role="progressbar",ng-style="{ 'width': item.progress + '%' }", style="width: 0%;")
			td
				button.btn.btn-success.btn-xs(type="button",ng-click="item.upload()",ng-disabled="item.isUploading")
					i.glyphicon.glyphicon-upload(tooltip="Enviar")
				button.btn.btn-warning.btn-xs(type="button",ng-click="item.cancel()",ng-disabled="!item.isUploading" disabled="disabled")
					i.glyphicon.glyphicon-ban-circle(tooltip="Cancelar")
	.panel-body(ng-if="loading")
		div(ng-include="'/admin/app/common/loading.html'")
	.panel-body(ng-if="norecords")
		div(ng-include="'/admin/app/common/norecords.html'")
	.panel-body(ng-if="!loading && !norecords")
		.col-md-6.pull-left(ng-repeat="item in Retornos")
			.panel.panel-default
				.panel-heading
					.panel-title {{item.Retorno.arquivo }}
				.panel-body(style="height: 300px; overflow: auto")
					table.table
						tr
							th Número
							th Sacado
							th Vencimento
							th Valor
							th Situação
						tr(ng-repeat="boleto in item.BoletoNovoRetorno")
							td {{boleto.boletonovo_id}}
							td(ng-if="boleto.BoletoNovo.Sacado") {{boleto.BoletoNovo.Sacado.nome_razaosocial}}
							td(ng-if="boleto.BoletoNovo.Sacado") {{boleto.BoletoNovo.data_vencimento|date:'d/MM/yy'}}
							td(ng-if="boleto.BoletoNovo.Sacado") {{boleto.BoletoNovo.valor|currency}}
							td(ng-if="boleto.BoletoNovo.Sacado") {{boleto.BoletoNovo.SituacaoBoleto.descricao}}
							td(colspan="4",ng-if="!boleto.BoletoNovo.Sacado").text-danger Boleto não existente!
				.panel-footer.clearfix
					.btn-group.pull-right
						a.btn.btn-default(ng-click="del(item)",tooltip="Excluir")
							i.fa.fa-2x.fa-trash
