app/Plugin/Admin/webroot/app/Texto/form.html

<form name="TextoForm" novalidate="novalidate" autocomplete="off" class="form">
  <div class="row">
    <div class="col-md-11">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="panel-title">Textos</div>
        </div>
        <div class="panel-body">
          <div ng-class="{'has-error':TextoForm.tipo.$invalid}" class="form-group">
            <label class="control-label">Tipo</label>
            <input required="required" name="tipo" ng-model="Form.tipo" placeholder="Tipo do Texto" class="form-control"/><span ng-if="TextoForm.tipo.$error.required" class="help-block">Campo requerido!</span>
          </div>
          <div ng-class="{'has-error':TextoForm.texto.$invalid}" class="form-group">
            <label class="control-label">Texto</label>
            <textarea ng-wig="Form.texto" required="required" name="texto" ng-model="Form.texto" placeholder="Texto"></textarea><span ng-if="TextoForm.texto.$invalid" class="help-block">Campo requerido!</span>
          </div>
        </div>
        <div class="panel-footer clearfix">
          <div ng-click="save()" class="btn-group pull-right"></div>
        </div>
      </div>
    </div>
    <div class="col-md-1">
      <div class="btn-group-vertical">
        <button ng-click="save()" tooltip="Salvar" ng-disabled="TextoForm.$invalid" class="btn btn-primary"><i class="fa fa-2x fa-save"></i></button>
        <button ng-click="cancel()" tooltip="Cancelar" class="btn btn-default"><i class="fa fa-2x fa-chevron-left"></i></button>
      </div>
    </div>
  </div>
</form>

app/Plugin/Admin/webroot/app/Texto/form.jade
form.form(name="TextoForm",novalidate,autocomplete="off")
	.row
		.col-md-11
			.panel.panel-primary
				.panel-heading
					.panel-title Textos
				.panel-body
						.form-group(ng-class="{'has-error':TextoForm.tipo.$invalid}")
							label.control-label Tipo
							input.form-control(required, name="tipo",ng-model="Form.tipo",placeholder="Tipo do Texto")
							span(class="help-block",ng-if="TextoForm.tipo.$error.required") Campo requerido!
					
						.form-group(ng-class="{'has-error':TextoForm.texto.$invalid}")
							label.control-label Texto
							textarea(ng-wig="Form.texto",required,name="texto",ng-model="Form.texto",placeholder="Texto")
							span(class="help-block",ng-if="TextoForm.texto.$invalid") Campo requerido!
				.panel-footer.clearfix
					.btn-group.pull-right(ng-click="save()")
		.col-md-1
			.btn-group-vertical
				button.btn.btn-primary(ng-click="save()",tooltip="Salvar",ng-disabled="TextoForm.$invalid")
					i.fa.fa-2x.fa-save
				button.btn.btn-default(ng-click="cancel()",tooltip="Cancelar")
					i.fa.fa-2x.fa-chevron-left
