app/Plugin/Admin/webroot/app/Texto/index.html

<div class="row">
  <div class="col-md-7">
    <div ng-include="'/admin/app/common/pagination.html'"></div>
  </div>
  <div class="col-md-5">&nbsp;</div>
</div>
<div class="row">
  <div class="col-md-11">
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
        <h3 class="panel-title">Textos<span class="pull-right">Página {{pagination.page}} de {{pagination.pageCount}}</span></h3>
      </div>
      <div class="panel-footer clearfix">
        <div class="btn-group pull-right"></div>
      </div>
      <div ng-if="loading" class="panel-body">
        <div ng-include="'/admin/app/common/loading.html'"></div>
      </div>
      <div ng-if="norecords" class="panel-body">
        <div ng-include="'/admin/app/common/norecords.html'"></div>
      </div>
      <table ng-if="!loading &amp;&amp; !norecords" class="table">
        <tr>
          <th class="col-md-2">&nbsp;</th>
          <th>Tipo</th>
        </tr>
        <tr ng-repeat="item in Textos">
          <td>
            <div class="btn-group"><a ng-click="edit(item)" tooltip="Editar" class="btn btn-default"><i class="fa fa-2x fa-edit"></i></a><a ng-click="del(item)" tooltip="Excluir" class="btn btn-default"><i class="fa fa-2x fa-trash"></i></a></div>
          </td>
          <td>{{ item.Texto.tipo }}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-md-1">
    <div class="btn-group-vertical">
      <button tooltip="Novo Texto" ng-click="add()" class="btn btn-default"><i class="fa fa-2x fa-file-o"></i></button>
    </div>
  </div>
</div>

app/Plugin/Admin/webroot/app/Texto/index.jade
.row
	.col-md-7
		div(ng-include="'/admin/app/common/pagination.html'")
	.col-md-5 &nbsp;
.row
	.col-md-11
		.panel.panel-primary
			.panel-heading.clearfix
				h3.panel-title Textos
					span.pull-right Página {{pagination.page}} de {{pagination.pageCount}}
			.panel-footer.clearfix
				.btn-group.pull-right
					
			.panel-body(ng-if="loading")
				div(ng-include="'/admin/app/common/loading.html'")
			.panel-body(ng-if="norecords")
				div(ng-include="'/admin/app/common/norecords.html'")
			table.table(ng-if="!loading && !norecords")
				tr
					th.col-md-2 &nbsp;
					th Tipo
				tr(ng-repeat="item in Textos")
					td
						.btn-group
							a.btn.btn-default(ng-click="edit(item)",tooltip="Editar")
								i.fa.fa-2x.fa-edit
							a.btn.btn-default(ng-click="del(item)",tooltip="Excluir")
								i.fa.fa-2x.fa-trash
					td {{ item.Texto.tipo }}
	.col-md-1
		.btn-group-vertical
			button.btn.btn-default(tooltip="Novo Texto",ng-click="add()")
				i.fa.fa-2x.fa-file-o
