app/Plugin/Admin/webroot/app/Conta/form.html

<div class="row">
  <div class="col-md-11">
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Bancos</h3>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Agências</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">{{header}}</h3>
      </div>
      <div class="panel-body">
        <form name="ValidationForm" novalidate="novalidate" autocomplete="off" class="form">
          <div class="row">
            <div class="col-md-4">
              <div ng-class="{'has-error':ValidationForm.numero.$invalid}" class="form-group">
                <label class="control-label">Número</label>
                <input type="text" required="required" name="numero" ng-model="Form.numero" placeholder="Número da Conta" class="form-control"/><span ng-if="ValidationForm.numero.$error.required" class="help-block">Campo requerido</span>
              </div>
            </div>
            <div class="col-md-4">
              <div ng-class="{'has-error':ValidationForm.saldo.$invalid}" class="form-group">
                <label class="control-label">Saldo</label>
                <input required="required" type="number" name="saldo" ng-model="Form.saldo" placeholder="Saldo" class="form-control"/><span ng-if="ValidationForm.saldo.$invalid" class="help-block">Saldo inválido</span>
              </div>
            </div>
            <div class="col-md-4">
              <div ng-class="{'has-error':ValidationForm.data_saldo.$invalid}" class="form-group">
                <label class="control-label">Data</label>
                <input type="date" required="required" name="data_saldo" ng-model="Form.data_saldo" placeholder="Data do Saldo" class="form-control"/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div ng-class="{'has-error':ValidationForm.banco_id.$invalid}" class="form-group">
                <label class="control-label">Banco</label>
                <select required="required" name="banco_id" ng-model="Form.banco_id" ng-options="item.Banco.id as item.Banco.nome for item in Bancos" class="form-control">
                  <option value="">Selecione o Banco</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div ng-class="{'has-error':ValidationForm.agencia_id.$invalid}" class="form-group">
                <label class="control-label">Agência</label>
                <select required="required" ng-options="item.Agencia.id as item.Agencia.nome for item in Agencias" name="agencia_id" ng-model="Form.agencia_id" class="form-control">
                  <option value="">Selecione a Agência</option>
                </select>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-1">
    <ng-include src="'/admin/app/common/form-actions.html'"></ng-include>
  </div>
</div>

app/Plugin/Admin/webroot/app/Conta/form.jade
.row
	.col-md-11
		.row
			.col-md-6
				.panel.panel-primary
					.panel-heading
						h3.panel-title Bancos
			.col-md-6
				.panel.panel-primary
					.panel-heading
						h3.panel-title Agências

		.panel.panel-primary
			.panel-heading
				h3.panel-title {{header}}
			.panel-body
				form.form(name="ValidationForm",novalidate,autocomplete="off")
					.row
						.col-md-4
							.form-group(ng-class="{'has-error':ValidationForm.numero.$invalid}")
								label.control-label Número
								input.form-control(type="text",required, name="numero",ng-model="Form.numero",placeholder="Número da Conta")
								span(class="help-block",ng-if="ValidationForm.numero.$error.required") Campo requerido
						.col-md-4
							.form-group(ng-class="{'has-error':ValidationForm.saldo.$invalid}")
								label.control-label Saldo
								input.form-control(required,type="number", name="saldo",ng-model="Form.saldo",placeholder="Saldo")
								span(class="help-block",ng-if="ValidationForm.saldo.$invalid") Saldo inválido
						.col-md-4
							.form-group(ng-class="{'has-error':ValidationForm.data_saldo.$invalid}")
								label.control-label Data
								input.form-control(type="date",required,name="data_saldo",ng-model="Form.data_saldo",placeholder="Data do Saldo")
					.row
						.col-md-6
							.form-group(ng-class="{'has-error':ValidationForm.banco_id.$invalid}")
								label.control-label Banco
								select.form-control(required, name="banco_id", ng-model="Form.banco_id",ng-options="item.Banco.id as item.Banco.nome for item in Bancos")
									option(value="") Selecione o Banco
							
						.col-md-6
							.form-group(ng-class="{'has-error':ValidationForm.agencia_id.$invalid}")
								label.control-label Agência
								select.form-control(required, ng-options="item.Agencia.id as item.Agencia.nome for item in Agencias" name="agencia_id",ng-model="Form.agencia_id")
									option(value="") Selecione a Agência
	.col-md-1
		ng-include(src="'/admin/app/common/form-actions.html'")
