app/Plugin/Admin/webroot/app/Conta/index.html

<div class="row">
  <div class="col-md-7">
    <div ng-include="'/admin/app/common/pagination.html'"></div>
  </div>
  <div class="col-md-5"></div>
</div>
<div class="row">
  <div class="col-md-11">
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
        <h3 class="panel-title">Contas<span class="pull-right">Página {{pagination.page}} de {{pagination.pageCount}}</span></h3>
      </div>
      <div ng-if="loading" class="panel-body">
        <div ng-include="'/admin/app/common/loading.html'"></div>
      </div>
      <div ng-if="norecords" class="panel-body">
        <div ng-include="'/admin/app/common/norecords.html'"></div>
      </div>
      <table ng-if="!loading &amp;&amp; !norecords" class="table">
        <tr>
          <th class="col-md-2">&nbsp;</th>
          <th>Número</th>
          <th>Saldo</th>
          <th>Data</th>
          <th>Agência</th>
          <th>Banco</th>
        </tr>
        <tr ng-repeat="item in Contas">
          <td>
            <div class="btn-group"><a ng-audio="/admin/audio/button-3.mp3" ng-click="edit(item)" tooltip="Editar" class="btn btn-default"><i class="fa fa-2x fa-edit"></i></a><a ng-audio="/admin/audio/button-1.mp3" ng-click="del(item)" tooltip="Excluir" class="btn btn-default"><i class="fa fa-2x fa-trash"></i></a></div>
          </td>
          <td>{{ item.Conta.numero }}</td>
          <td>{{ item.Conta.saldo | currency }}</td>
          <td>{{ item.Conta.data_saldo | date:'dd/MM/y' }}</td>
          <td>{{ item.Agencia.numero }}/{{ item.Agencia.nome }}</td>
          <td>{{ item.Agencia.Banco.numero }}/{{ item.Agencia.Banco.nome }}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-md-1">
    <ng-include src="'/admin/app/common/index-actions.html'"></ng-include>
  </div>
</div>

app/Plugin/Admin/webroot/app/Conta/index.jade
.row
	.col-md-7
		div(ng-include="'/admin/app/common/pagination.html'")
	.col-md-5
.row
	.col-md-11
		.panel.panel-primary
			.panel-heading.clearfix
				h3.panel-title Contas
					span.pull-right Página {{pagination.page}} de {{pagination.pageCount}}
			.panel-body(ng-if="loading")
				div(ng-include="'/admin/app/common/loading.html'")
			.panel-body(ng-if="norecords")
				div(ng-include="'/admin/app/common/norecords.html'")
			table.table(ng-if="!loading && !norecords")
				tr
					th.col-md-2 &nbsp;
					th Número
					th Saldo
					th Data
					th Agência
					th Banco
				tr(ng-repeat="item in Contas")
					td
						.btn-group
							a.btn.btn-default(ng-audio="/admin/audio/button-3.mp3",ng-click="edit(item)",tooltip="Editar")
								i.fa.fa-2x.fa-edit
							a.btn.btn-default(ng-audio="/admin/audio/button-1.mp3",ng-click="del(item)",tooltip="Excluir")
								i.fa.fa-2x.fa-trash
					td {{ item.Conta.numero }}
					td {{ item.Conta.saldo | currency }}
					td {{ item.Conta.data_saldo | date:'dd/MM/y' }}
					td {{ item.Agencia.numero }}/{{ item.Agencia.nome }}
					td {{ item.Agencia.Banco.numero }}/{{ item.Agencia.Banco.nome }}
	.col-md-1
		ng-include(src="'/admin/app/common/index-actions.html'")
