app/Plugin/Admin/webroot/app/common/form-actions.jade
.btn-group-vertical(bs-affix,data-offset-top="215")
	button.btn.btn-primary(ng-audio="/admin/audio/button-3.mp3",tooltip="Salvar", ng-click="save()",ng-disabled="ValidationForm.$invalid")
		i.fa.fa-2x.fa-save
	button.btn.btn-default(ng-audio="/admin/audio/button-1.mp3",tooltip="Cancelar", ng-click="cancel()")
		i.fa.fa-2x.fa-chevron-left

app/Plugin/Admin/webroot/app/common/form-actions.html

<div bs-affix="bs-affix" data-offset-top="215" class="btn-group-vertical">
  <button ng-audio="/admin/audio/button-3.mp3" tooltip="Salvar" ng-click="save()" ng-disabled="ValidationForm.$invalid" class="btn btn-primary"><i class="fa fa-2x fa-save"></i></button>
  <button ng-audio="/admin/audio/button-1.mp3" tooltip="Cancelar" ng-click="cancel()" class="btn btn-default"><i class="fa fa-2x fa-chevron-left"></i></button>
</div>
