app/Plugin/Admin/webroot/app/Menu/form.jade
.panel.panel-default
	.panel-heading
		h3.panel-title {{menuAction}} Menu
	.panel-body
		form.form
			.form-group
				label.form-label Título
				input.form-control(ng-model="Form.men_titulo")
			.form-group
				label.form-label Link
				input.form-control(ng-model="Form.men_link")
			.checkbox
				label 
					input(type="checkbox",ng-model="Form.men_novajanela")
					| Abrir em nova Janela ?
	.panel-footer.clearfix
		.btn-group.pull-right
			button.btn.btn-primary(ng-click="saveLevelX()") Salvar
			button.btn.btn-default(ng-click="addLevelXCancel()") Cancelar

app/Plugin/Admin/webroot/app/Menu/form.html

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{menuAction}} Menu</h3>
  </div>
  <div class="panel-body">
    <form class="form">
      <div class="form-group">
        <label class="form-label">Título</label>
        <input ng-model="Form.men_titulo" class="form-control"/>
      </div>
      <div class="form-group">
        <label class="form-label">Link</label>
        <input ng-model="Form.men_link" class="form-control"/>
      </div>
      <div class="checkbox">
        <label> 
          <input type="checkbox" ng-model="Form.men_novajanela"/>Abrir em nova Janela ?
        </label>
      </div>
    </form>
  </div>
  <div class="panel-footer clearfix">
    <div class="btn-group pull-right">
      <button ng-click="saveLevelX()" class="btn btn-primary">Salvar</button>
      <button ng-click="addLevelXCancel()" class="btn btn-default">Cancelar</button>
    </div>
  </div>
</div>
