app/Plugin/Admin/webroot/app/Parcelamento/form.jade
form.form(name="ParcelamentoForm",novalidate,autocomplete="off")
	.row
		.col-md-11
			.panel.panel-primary
				.panel-heading
					.panel-title {{header}}
	
				.panel-body
					.row
						.col-md-4
							.form-group(ng-class="{'has-error':ParcelamentoForm.valor.$invalid}")
								label.control-label Valor Total
								input.form-control(ng-change="calcParcelas()", ng-model="Form.valor",name="valor",required,ng-min="1",type="number") 
						.col-md-4
							.form-group(ng-class="{'has-error':ParcelamentoForm.parcelas.$invalid}")
								label.control-label Parcelas
								input.form-control(ng-change="calcParcelas()", ng-model="Form.parcelas",name="parcelas",required,ng-min="1",type="number") 
						.col-md-4
							.form-group
								label.control-label Valor Parcelas
								input.form-control(ng-model="valor_parcelas",readonly) 
					.row
						.col-md-2
							.form-group
								label.control-label Data
								input.form-control(maxlength="10",calendar,validatedateformat,data-date-format="dd/MM/yyyy",type="date",name="data",ng-model="Form.data")
						.col-md-4
							.form-group(ng-class="{'has-error':ParcelamentoForm.outorgante_id.$invalid}")
								label.control-label Outorgante
								input.form-control(ng-model="sacado_nome")
								select.form-control(required,ng-options="item.Sacado.id as item.Sacado.nome_razaosocial for item in Sacados",ng-model="Form.outorgante_id",name="outorgante_id") 
						.col-md-2(style="padding-top:27px;")
							input(bs-switch,ng-model="Form.temrepresentante",type="checkbox",switch-label="Representante?",switch-on-text="Sim",switch-off-text="Não")
						.col-md-4
							.form-group
								label.control-label Representante
								input.form-control(ng-disabled="!Form.temrepresentante",ng-model="representante_nome")
								select.form-control(ng-disabled="!Form.temrepresentante",ng-options="item.Sacado.id as item.Sacado.nome_razaosocial for item in Representantes",ng-model="Form.representante_id",name="representante_id") 
		.col-md-1
			.btn-group-vertical
				button.btn.btn-primary(ng-click="save()",ng-disabled="ParcelamentoForm.$invalid") 
					i.fa.fa-2x.fa-save
				button.btn.btn-default(ng-click="cancel()")
					i.fa.fa-2x.fa-chevron-left

app/Plugin/Admin/webroot/app/Parcelamento/form.html

<form name="ParcelamentoForm" novalidate="novalidate" autocomplete="off" class="form">
  <div class="row">
    <div class="col-md-11">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="panel-title">{{header}}</div>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-4">
              <div ng-class="{'has-error':ParcelamentoForm.valor.$invalid}" class="form-group">
                <label class="control-label">Valor Total</label>
                <input ng-change="calcParcelas()" ng-model="Form.valor" name="valor" required="required" ng-min="1" type="number" class="form-control"/>
              </div>
            </div>
            <div class="col-md-4">
              <div ng-class="{'has-error':ParcelamentoForm.parcelas.$invalid}" class="form-group">
                <label class="control-label">Parcelas</label>
                <input ng-change="calcParcelas()" ng-model="Form.parcelas" name="parcelas" required="required" ng-min="1" type="number" class="form-control"/>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">Valor Parcelas</label>
                <input ng-model="valor_parcelas" readonly="readonly" class="form-control"/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <div class="form-group">
                <label class="control-label">Data</label>
                <input maxlength="10" calendar="calendar" validatedateformat="validatedateformat" data-date-format="dd/MM/yyyy" type="date" name="data" ng-model="Form.data" class="form-control"/>
              </div>
            </div>
            <div class="col-md-4">
              <div ng-class="{'has-error':ParcelamentoForm.outorgante_id.$invalid}" class="form-group">
                <label class="control-label">Outorgante</label>
                <input ng-model="sacado_nome" class="form-control"/>
                <select required="required" ng-options="item.Sacado.id as item.Sacado.nome_razaosocial for item in Sacados" ng-model="Form.outorgante_id" name="outorgante_id" class="form-control"> </select>
              </div>
            </div>
            <div style="padding-top:27px;" class="col-md-2">
              <input bs-switch="bs-switch" ng-model="Form.temrepresentante" type="checkbox" switch-label="Representante?" switch-on-text="Sim" switch-off-text="Não"/>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">Representante</label>
                <input ng-disabled="!Form.temrepresentante" ng-model="representante_nome" class="form-control"/>
                <select ng-disabled="!Form.temrepresentante" ng-options="item.Sacado.id as item.Sacado.nome_razaosocial for item in Representantes" ng-model="Form.representante_id" name="representante_id" class="form-control"> </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1">
      <div class="btn-group-vertical">
        <button ng-click="save()" ng-disabled="ParcelamentoForm.$invalid" class="btn btn-primary"> <i class="fa fa-2x fa-save"></i></button>
        <button ng-click="cancel()" class="btn btn-default"><i class="fa fa-2x fa-chevron-left"></i></button>
      </div>
    </div>
  </div>
</form>
