app/Plugin/Admin/webroot/app/Parcelamento/index.jade
.row
	.col-md-7
		div(ng-include="'/admin/app/common/pagination.html'")
	.col-md-5
		.input-group(style="margin: 20px 0")
			input.form-control(name="pesquisaParcelamento",ng-model="Pesquisa.nome_razaosocial",placeholder="Pesquise pelo Nome/Razão Social")
			span.input-group-btn
				button.btn.btn-default(ng-click="pesqParcelamento()", ng-disabled="Pesquisa.nome_razaosocial.length < 3", type="button") Pesquisar Parcelamentos
				button.btn.btn-default(ng-click="Pesquisa.nome_razaosocial='';pesqParcelamento()", type="button") Zerar Pesquisa

.row
	.col-md-11
		.panel.panel-primary
			.panel-heading.clearfix
				h3.panel-title Parcelamentos
					span.pull-right Página {{pagination.page}} de {{pagination.pageCount}}
			.panel-body(ng-if="loading")
				div(ng-include="'/admin/app/common/loading.html'")
			.panel-body(ng-if="norecords")
				div(ng-include="'/admin/app/common/norecords.html'")
			table.table(ng-if="!loading && !norecords")
				tr
					th.col-md-2 &nbsp;
					th Data
					th Outorgante
					th Representante
					th Parcelas
					th Valor
					th Documentos
				tr(ng-repeat="item in Documentos")
					td
						.btn-group
							a.btn.btn-default(ng-disabled="item.Documento.parcelas_pagas != 0",ng-click="edit(item)",tooltip="Editar")
								i.fa.fa-2x.fa-pencil
							a.btn.btn-default(ng-click="boletos(item)",tooltip="Boletos")
								i.fa.fa-2x.fa-money
					td {{item.Documento.data | date:'dd/MM/y' }}
					td {{item.Outorgante.nome_razaosocial }}
					td {{item.Representante.nome_razaosocial || 'Nenhum' }}
					td {{item.Documento.parcelas_pagas}} pagas de {{item.Documento.parcelas}}
					td {{item.Documento.valor|number:2}}
					td
						a(href="#/parcelamentos/docs/{{item.Documento.id}}")
							i.fa.fa-2x.fa-file-word-o
	.col-md-1
		ng-include(src="'/admin/app/common/index-actions.html'")

app/Plugin/Admin/webroot/app/Parcelamento/index.html

<div class="row">
  <div class="col-md-7">
    <div ng-include="'/admin/app/common/pagination.html'"></div>
  </div>
  <div class="col-md-5">
    <div style="margin: 20px 0" class="input-group">
      <input name="pesquisaParcelamento" ng-model="Pesquisa.nome_razaosocial" placeholder="Pesquise pelo Nome/Razão Social" class="form-control"/><span class="input-group-btn">
        <button ng-click="pesqParcelamento()" ng-disabled="Pesquisa.nome_razaosocial.length &lt; 3" type="button" class="btn btn-default">Pesquisar Parcelamentos</button>
        <button ng-click="Pesquisa.nome_razaosocial='';pesqParcelamento()" type="button" class="btn btn-default">Zerar Pesquisa</button></span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-11">
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
        <h3 class="panel-title">Parcelamentos<span class="pull-right">Página {{pagination.page}} de {{pagination.pageCount}}</span></h3>
      </div>
      <div ng-if="loading" class="panel-body">
        <div ng-include="'/admin/app/common/loading.html'"></div>
      </div>
      <div ng-if="norecords" class="panel-body">
        <div ng-include="'/admin/app/common/norecords.html'"></div>
      </div>
      <table ng-if="!loading &amp;&amp; !norecords" class="table">
        <tr>
          <th class="col-md-2">&nbsp;</th>
          <th>Data</th>
          <th>Outorgante</th>
          <th>Representante</th>
          <th>Parcelas</th>
          <th>Valor</th>
          <th>Documentos</th>
        </tr>
        <tr ng-repeat="item in Documentos">
          <td>
            <div class="btn-group"><a ng-disabled="item.Documento.parcelas_pagas != 0" ng-click="edit(item)" tooltip="Editar" class="btn btn-default"><i class="fa fa-2x fa-pencil"></i></a><a ng-click="boletos(item)" tooltip="Boletos" class="btn btn-default"><i class="fa fa-2x fa-money"></i></a></div>
          </td>
          <td>{{item.Documento.data | date:'dd/MM/y' }}</td>
          <td>{{item.Outorgante.nome_razaosocial }}</td>
          <td>{{item.Representante.nome_razaosocial || 'Nenhum' }}</td>
          <td>{{item.Documento.parcelas_pagas}} pagas de {{item.Documento.parcelas}}</td>
          <td>{{item.Documento.valor|number:2}}</td>
          <td><a href="#/parcelamentos/docs/{{item.Documento.id}}"><i class="fa fa-2x fa-file-word-o"></i></a></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-md-1">
    <ng-include src="'/admin/app/common/index-actions.html'"></ng-include>
  </div>
</div>
