app/Plugin/Admin/webroot/app/Sacado/docs.html

<div class="page_header hidden-print">
  <h3>Documentos do Sacado</h3>
</div>
<div class="panel panel-default hidden-print">
  <div class="panel-heading">
    <h3 class="panel-title">Procuração</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">&nbsp;</div>
      <div class="col-md-6 clearfix">
        <div class="btn-group pull-right">
          <button tooltip="Imprimir" ng-click="print()" class="btn btn-default"><i class="fa fa-2x fa-print"></i></button>
        </div>
      </div>
    </div><br/>
    <div class="row">
      <div class="col-md-6 no-print">
        <textarea ng-wig="originalText" rows="5" ng-model="originalText"></textarea>
      </div>
      <div class="col-md-6">
        <div style="margin-top:20px" ng-bind-html="replacedText|unsafe"></div>
      </div>
    </div>
  </div>
</div>
<div ng-bind-html="replacedText|unsafe" class="visible-print-block"></div>

app/Plugin/Admin/webroot/app/Sacado/docs.jade
.page_header.hidden-print
	h3 Documentos do Sacado
.panel.panel-default.hidden-print
	.panel-heading
		h3.panel-title Procuração
	.panel-body
		.row
			.col-md-6 &nbsp;
			.col-md-6.clearfix
				.btn-group.pull-right
					button.btn.btn-default(tooltip="Imprimir",ng-click="print()")
						i.fa.fa-2x.fa-print
		br
		.row
			.col-md-6.no-print
				textarea(ng-wig="originalText",rows="5", ng-model="originalText")
			.col-md-6
				div(style="margin-top:20px",ng-bind-html="replacedText|unsafe")
div.visible-print-block(ng-bind-html="replacedText|unsafe")
