app/Plugin/Admin/webroot/app/Sacado/view.jade
h3.page-header Sacado

h3 {{data.Sacado.nome_razaosocial}}

.row
	.col-md-6
		.panel.panel-primary
			.panel-heading
				span.panel-title Histórico Administrativo
			.panel-body(ng-if="data.HistoricoAdm.length == 0")
				ng-include(src="'/admin/app/common/nohistoricos.html'")
			.panel-body(ng-if="loading")
				ng-include(src="'/admin/app/common/loading.html'")
			.panel-body.clearfix(ng-if="isAddHistoricoAdm")
				.row
					.col-md-4
						.well(nv-file-drop,uploader="uploaderadm") Arraste e solte um arquivo aqui para envia-lo ao sistema.
					.col-md-8
						textarea.form-control(ng-model="HistoricoAdmForm.descricao",rows="5",placeholder="Texto para um novo Histórico")
			table.table(ng-if="uploaderadm.queue.length > 0 && isAddHistoricoAdm")
					tr
						th Nome
						th Tamanho
						th Progresso
						th &nbsp;
					tr(ng-repeat="item in uploaderadm.queue")
						td {{item.file.name}}
						td {{item.file.size}}
						td(ng-show="uploaderadm.isHTML5")
							.progress(style="margin-bottom: 0;")
								.progress-bar(role="progressbar",ng-style="{ 'width': item.progress + '%' }", style="width: 0%;")
						td
							button.btn.btn-warning.btn-xs(type="button",ng-click="item.cancel()",ng-disabled="!item.isUploading" disabled="disabled")
								i.glyphicon.glyphicon-ban-circle(tooltip="Cancelar")
			div(style="height:200px; overflow:auto;",ng-if="!isAddHistoricoAdm && data.HistoricoAdm.length > 0")
				table.table.table-striped
					tr
						th(ng-if="isSuperUser") &nbsp;
						th.col-md-2 Data
						th Descrição
						th Usuário
						th Arquivo
					tr(ng-repeat="item in data.HistoricoAdm")
						td(ng-if="isSuperUser")
							a.btn.btn-default(href="",ng-click="delAdm(item)")
								i.fa.fa-trash-o.text-danger
						td {{item.data|date:'dd/MM/yy'}}
						td {{item.descricao}}
						td {{item.Usuario.username}}
						td
							a.btn.btn-default(ng-if="item.Arquivo.length==1",target="_blank",href="/admin/arquivo/download/{{item.Arquivo[0].id}}") Download
			.panel-footer.clearfix
				.btn-group.pull-right(ng-if="isAddHistoricoAdm")
						button.btn.btn-primary(ng-click="newHistoricoAdmSave()") Salvar
						button.btn.btn-default(ng-click="newHistoricoAdmCancel()") Cancelar
				.btn-group.pull-right(ng-if="!isAddHistoricoAdm")
					.btn.btn-primary(ng-click="newHistoricoAdm()") Novo
	.col-md-6
		.panel.panel-success
			.panel-heading
				span.panel-title Histórico Processual
			.panel-body(ng-if="data.HistoricoPro.length == 0")
				ng-include(src="'/admin/app/common/nohistoricos.html'")
			.panel-body(ng-if="loading")
				ng-include(src="'/admin/app/common/loading.html'")
			.panel-body.clearfix(ng-if="isAddHistoricoPro")
				.row
					.col-md-4
						.well(nv-file-drop,uploader="uploaderpro") Arraste e solte um arquivo aqui para envia-lo ao sistema.
					.col-md-8
						textarea.form-control(ng-model="HistoricoProForm.descricao",rows="5",placeholder="Texto para um novo Histórico")
			table.table(ng-if="uploaderpro.queue.length > 0")
					tr
						th Nome
						th Tamanho
						th Progresso
						th &nbsp;
					tr(ng-repeat="item in uploaderpro.queue")
						td {{item.file.name}}
						td {{item.file.size}}
						td(ng-show="uploaderpro.isHTML5")
							.progress(style="margin-bottom: 0;")
								.progress-bar(role="progressbar",ng-style="{ 'width': item.progress + '%' }", style="width: 0%;")
						td
							button.btn.btn-warning.btn-xs(type="button",ng-click="item.cancel()",ng-disabled="!item.isUploading" disabled="disabled")
								i.glyphicon.glyphicon-ban-circle(tooltip="Cancelar")
			div(style="height:200px; overflow:auto;",ng-if="!isAddHistoricoPro && data.HistoricoPro.length > 0")
				table.table.table-striped(ng-if="data.HistoricoPro.length > 0")
					tr
						th(ng-if="isSuperUser") &nbsp;
						th.col-md-2 Data
						th Descrição
						th Usuário
						th Arquivo
					tr(ng-repeat="item in data.HistoricoPro")
						td(ng-if="isSuperUser")
							a.btn.btn-default(href="",ng-click="delPro(item)")
								i.fa.fa-trash-o.text-danger
						td {{item.data|date:'dd/MM/yy'}}
						td {{item.descricao}}
						td {{item.Usuario.username}}
						td
							a.btn.btn-default(ng-if="item.Arquivo.length==1",target="_blank",href="/admin/arquivo/download/{{item.Arquivo[0].id}}") Download
			.panel-footer.clearfix
				.btn-group.pull-right(ng-if="isAddHistoricoPro")
						button.btn.btn-primary(ng-click="newHistoricoProSave()") Salvar
						button.btn.btn-default(ng-click="newHistoricoProCancel()") Cancelar
				.btn-group.pull-right(ng-if="!isAddHistoricoPro")
					.btn.btn-primary(ng-click="newHistoricoPro()") Novo
.row
	.col-md-4
		.panel.panel-warning
			.panel-heading
				span.panel-title Boletos Antigos
			.panel-body(ng-if="data.BoletoAntigo.length == 0")
				ng-include(src="'/admin/app/common/noboletos.html'")
			.panel-body(ng-if="loading")
				ng-include(src="'/admin/app/common/loading.html'")
			div(style="height:200px; overflow:auto;",ng-if="data.BoletoAntigo.length > 0")
				table.table.table-striped
					tr
						th &nbsp;
						th Número
						th Vencimento
						th Valor
						th Situação
					tr(ng-repeat="item in data.BoletoAntigo")
						td 
							a.btn.btn-xs.btn-default(href="/admin/boletoantigo/print/{{item.id}}",target="_blank",tooltip="Imprimir")
								i.fa.fa-print
							a.btn.btn-xs.btn-default(href="",tooltip="Excluir",ng-click="delBolAnt(item)")
								i.fa.fa-remove
						td {{item.id}}
						td {{item.data_vencimento | date }}
						td {{item.valor | finance }}
						td {{item.SituacaoBoleto.descricao}}

	.col-md-8
		.panel.panel-danger
			.panel-heading
				span.panel-title Boletos Novos
			.panel-body(ng-if="data.BoletoNovo.length == 0")
				ng-include(src="'/admin/app/common/noboletos.html'")
			.panel-body(ng-if="loading")
				ng-include(src="'/admin/app/common/loading.html'")
			table.table.table-striped(ng-if="data.BoletoNovo.length > 0")
				thead
					tr
						th &nbsp;
						th Número
						th Parcelamento
						th Vencimento
						th Valor
						th Situação
						th Pagamento/Exclusão
						th Usuário
				tbody
					tr(ng-class="{'text-warning':item.situacao_id==4,'text-success':item.situacao_id==2}",ng-repeat="item in data.BoletoNovo")
						td 
							a.btn.btn-xs.btn-default(ng-if="item.situacao_id == 1",href="/admin/boletonovo/view/{{item.id}}",target="_blank",tooltip="Imprimir")
								i.fa.fa-print
							a.btn.btn-xs.btn-default(ng-if="item.situacao_id == 1 && (is_superuser || user_id == 29)",href="",tooltip="Excluir",ng-click="delBolNovo(item)")
								i.fa.fa-remove
						td {{item.id}}
						td(ng-if="item.documento_id==0") Nenhum
						td(ng-if="item.documento_id!=0") {{item.documento_id}}
						td {{item.data_vencimento | date:'dd/MM/y' }}
						td {{item.valor | finance }}
						td {{item.SituacaoBoleto.descricao}}
						td(ng-if="item.situacao_id == 1") --x--
						td(ng-if="item.situacao_id == 2") {{item.data_pagamento | date:'dd/MM/y' }}
						td(ng-if="item.situacao_id == 4") {{item.exc_data | date:'dd/MM/y' }}
						td {{item.UserExcl.username || 'Nenhum'}}
			form(name="formNovoBoleto")
				table.table
					tr
						td
							input.form-control(placeholder="Valor do Boleto", type="number",required,ng-model="formBolNovo.valor")
						td
							input.form-control(placeholder="Vencimento do Boleto", type="date",required,ng-model="formBolNovo.data_vencimento")
						td.md-col-2
							button.btn.btn-primary.btn-block(ng-disabled="formNovoBoleto.$invalid",ng-click="saveBolNovo()") Criar Novo Boleto

app/Plugin/Admin/webroot/app/Sacado/view.html

<h3 class="page-header">Sacado</h3>
<h3>{{data.Sacado.nome_razaosocial}}</h3>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading"><span class="panel-title">Histórico Administrativo</span></div>
      <div ng-if="data.HistoricoAdm.length == 0" class="panel-body">
        <ng-include src="'/admin/app/common/nohistoricos.html'"></ng-include>
      </div>
      <div ng-if="loading" class="panel-body">
        <ng-include src="'/admin/app/common/loading.html'"></ng-include>
      </div>
      <div ng-if="isAddHistoricoAdm" class="panel-body clearfix">
        <div class="row">
          <div class="col-md-4">
            <div nv-file-drop="nv-file-drop" uploader="uploaderadm" class="well">Arraste e solte um arquivo aqui para envia-lo ao sistema.</div>
          </div>
          <div class="col-md-8">
            <textarea ng-model="HistoricoAdmForm.descricao" rows="5" placeholder="Texto para um novo Histórico" class="form-control"></textarea>
          </div>
        </div>
      </div>
      <table ng-if="uploaderadm.queue.length &gt; 0 &amp;&amp; isAddHistoricoAdm" class="table">
        <tr>
          <th>Nome</th>
          <th>Tamanho</th>
          <th>Progresso</th>
          <th>&nbsp;</th>
        </tr>
        <tr ng-repeat="item in uploaderadm.queue">
          <td>{{item.file.name}}</td>
          <td>{{item.file.size}}</td>
          <td ng-show="uploaderadm.isHTML5">
            <div style="margin-bottom: 0;" class="progress">
              <div role="progressbar" ng-style="{ 'width': item.progress + '%' }" style="width: 0%;" class="progress-bar"></div>
            </div>
          </td>
          <td>
            <button type="button" ng-click="item.cancel()" ng-disabled="!item.isUploading" disabled="disabled" class="btn btn-warning btn-xs"><i tooltip="Cancelar" class="glyphicon glyphicon-ban-circle"></i></button>
          </td>
        </tr>
      </table>
      <div style="height:200px; overflow:auto;" ng-if="!isAddHistoricoAdm &amp;&amp; data.HistoricoAdm.length &gt; 0">
        <table class="table table-striped">
          <tr>
            <th ng-if="isSuperUser">&nbsp;</th>
            <th class="col-md-2">Data</th>
            <th>Descrição</th>
            <th>Usuário</th>
            <th>Arquivo</th>
          </tr>
          <tr ng-repeat="item in data.HistoricoAdm">
            <td ng-if="isSuperUser"><a href="" ng-click="delAdm(item)" class="btn btn-default"><i class="fa fa-trash-o text-danger"></i></a></td>
            <td>{{item.data|date:'dd/MM/yy'}}</td>
            <td>{{item.descricao}}</td>
            <td>{{item.Usuario.username}}</td>
            <td><a ng-if="item.Arquivo.length==1" target="_blank" href="/admin/arquivo/download/{{item.Arquivo[0].id}}" class="btn btn-default">Download</a></td>
          </tr>
        </table>
      </div>
      <div class="panel-footer clearfix">
        <div ng-if="isAddHistoricoAdm" class="btn-group pull-right">
          <button ng-click="newHistoricoAdmSave()" class="btn btn-primary">Salvar</button>
          <button ng-click="newHistoricoAdmCancel()" class="btn btn-default">Cancelar</button>
        </div>
        <div ng-if="!isAddHistoricoAdm" class="btn-group pull-right">
          <div ng-click="newHistoricoAdm()" class="btn btn-primary">Novo</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-success">
      <div class="panel-heading"><span class="panel-title">Histórico Processual</span></div>
      <div ng-if="data.HistoricoPro.length == 0" class="panel-body">
        <ng-include src="'/admin/app/common/nohistoricos.html'"></ng-include>
      </div>
      <div ng-if="loading" class="panel-body">
        <ng-include src="'/admin/app/common/loading.html'"></ng-include>
      </div>
      <div ng-if="isAddHistoricoPro" class="panel-body clearfix">
        <div class="row">
          <div class="col-md-4">
            <div nv-file-drop="nv-file-drop" uploader="uploaderpro" class="well">Arraste e solte um arquivo aqui para envia-lo ao sistema.</div>
          </div>
          <div class="col-md-8">
            <textarea ng-model="HistoricoProForm.descricao" rows="5" placeholder="Texto para um novo Histórico" class="form-control"></textarea>
          </div>
        </div>
      </div>
      <table ng-if="uploaderpro.queue.length &gt; 0" class="table">
        <tr>
          <th>Nome</th>
          <th>Tamanho</th>
          <th>Progresso</th>
          <th>&nbsp;</th>
        </tr>
        <tr ng-repeat="item in uploaderpro.queue">
          <td>{{item.file.name}}</td>
          <td>{{item.file.size}}</td>
          <td ng-show="uploaderpro.isHTML5">
            <div style="margin-bottom: 0;" class="progress">
              <div role="progressbar" ng-style="{ 'width': item.progress + '%' }" style="width: 0%;" class="progress-bar"></div>
            </div>
          </td>
          <td>
            <button type="button" ng-click="item.cancel()" ng-disabled="!item.isUploading" disabled="disabled" class="btn btn-warning btn-xs"><i tooltip="Cancelar" class="glyphicon glyphicon-ban-circle"></i></button>
          </td>
        </tr>
      </table>
      <div style="height:200px; overflow:auto;" ng-if="!isAddHistoricoPro &amp;&amp; data.HistoricoPro.length &gt; 0">
        <table ng-if="data.HistoricoPro.length &gt; 0" class="table table-striped">
          <tr>
            <th ng-if="isSuperUser">&nbsp;</th>
            <th class="col-md-2">Data</th>
            <th>Descrição</th>
            <th>Usuário</th>
            <th>Arquivo</th>
          </tr>
          <tr ng-repeat="item in data.HistoricoPro">
            <td ng-if="isSuperUser"><a href="" ng-click="delPro(item)" class="btn btn-default"><i class="fa fa-trash-o text-danger"></i></a></td>
            <td>{{item.data|date:'dd/MM/yy'}}</td>
            <td>{{item.descricao}}</td>
            <td>{{item.Usuario.username}}</td>
            <td><a ng-if="item.Arquivo.length==1" target="_blank" href="/admin/arquivo/download/{{item.Arquivo[0].id}}" class="btn btn-default">Download</a></td>
          </tr>
        </table>
      </div>
      <div class="panel-footer clearfix">
        <div ng-if="isAddHistoricoPro" class="btn-group pull-right">
          <button ng-click="newHistoricoProSave()" class="btn btn-primary">Salvar</button>
          <button ng-click="newHistoricoProCancel()" class="btn btn-default">Cancelar</button>
        </div>
        <div ng-if="!isAddHistoricoPro" class="btn-group pull-right">
          <div ng-click="newHistoricoPro()" class="btn btn-primary">Novo</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-warning">
      <div class="panel-heading"><span class="panel-title">Boletos Antigos</span></div>
      <div ng-if="data.BoletoAntigo.length == 0" class="panel-body">
        <ng-include src="'/admin/app/common/noboletos.html'"></ng-include>
      </div>
      <div ng-if="loading" class="panel-body">
        <ng-include src="'/admin/app/common/loading.html'"></ng-include>
      </div>
      <div style="height:200px; overflow:auto;" ng-if="data.BoletoAntigo.length &gt; 0">
        <table class="table table-striped">
          <tr>
            <th>&nbsp;</th>
            <th>Número</th>
            <th>Vencimento</th>
            <th>Valor</th>
            <th>Situação</th>
          </tr>
          <tr ng-repeat="item in data.BoletoAntigo">
            <td> <a href="/admin/boletoantigo/print/{{item.id}}" target="_blank" tooltip="Imprimir" class="btn btn-xs btn-default"><i class="fa fa-print"></i></a><a href="" tooltip="Excluir" ng-click="delBolAnt(item)" class="btn btn-xs btn-default"><i class="fa fa-remove"></i></a></td>
            <td>{{item.id}}</td>
            <td>{{item.data_vencimento | date }}</td>
            <td>{{item.valor | finance }}</td>
            <td>{{item.SituacaoBoleto.descricao}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="panel panel-danger">
      <div class="panel-heading"><span class="panel-title">Boletos Novos</span></div>
      <div ng-if="data.BoletoNovo.length == 0" class="panel-body">
        <ng-include src="'/admin/app/common/noboletos.html'"></ng-include>
      </div>
      <div ng-if="loading" class="panel-body">
        <ng-include src="'/admin/app/common/loading.html'"></ng-include>
      </div>
      <table ng-if="data.BoletoNovo.length &gt; 0" class="table table-striped">
        <thead>
          <tr>
            <th>&nbsp;</th>
            <th>Número</th>
            <th>Parcelamento</th>
            <th>Vencimento</th>
            <th>Valor</th>
            <th>Situação</th>
            <th>Pagamento/Exclusão</th>
            <th>Usuário</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-class="{'text-warning':item.situacao_id==4,'text-success':item.situacao_id==2}" ng-repeat="item in data.BoletoNovo">
            <td> <a ng-if="item.situacao_id == 1" href="/admin/boletonovo/view/{{item.id}}" target="_blank" tooltip="Imprimir" class="btn btn-xs btn-default"><i class="fa fa-print"></i></a><a ng-if="item.situacao_id == 1 &amp;&amp; (is_superuser || user_id == 29)" href="" tooltip="Excluir" ng-click="delBolNovo(item)" class="btn btn-xs btn-default"><i class="fa fa-remove"></i></a></td>
            <td>{{item.id}}</td>
            <td ng-if="item.documento_id==0">Nenhum</td>
            <td ng-if="item.documento_id!=0">{{item.documento_id}}</td>
            <td>{{item.data_vencimento | date:'dd/MM/y' }}</td>
            <td>{{item.valor | finance }}</td>
            <td>{{item.SituacaoBoleto.descricao}}</td>
            <td ng-if="item.situacao_id == 1">--x--</td>
            <td ng-if="item.situacao_id == 2">{{item.data_pagamento | date:'dd/MM/y' }}</td>
            <td ng-if="item.situacao_id == 4">{{item.exc_data | date:'dd/MM/y' }}</td>
            <td>{{item.UserExcl.username || 'Nenhum'}}</td>
          </tr>
        </tbody>
      </table>
      <form name="formNovoBoleto">
        <table class="table">
          <tr>
            <td>
              <input placeholder="Valor do Boleto" type="number" required="required" ng-model="formBolNovo.valor" class="form-control"/>
            </td>
            <td>
              <input placeholder="Vencimento do Boleto" type="date" required="required" ng-model="formBolNovo.data_vencimento" class="form-control"/>
            </td>
            <td class="md-col-2">
              <button ng-disabled="formNovoBoleto.$invalid" ng-click="saveBolNovo()" class="btn btn-primary btn-block">Criar Novo Boleto</button>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </div>
</div>
