app/Plugin/Admin/webroot/app/Relatorio/index.jade
.row
	.col-md-7
		div(ng-include="'/admin/app/common/pagination.html'")
	.col-md-5
		.input-group(style="margin: 20px 0")
			input.form-control(name="pesquisaSacado",ng-model="Pesquisa.nome_razaosocial",placeholder="Pesquise pelo Nome/Razão Social")
			span.input-group-btn
				button.btn.btn-default(ng-click="pesqSacado()", ng-disabled="Pesquisa.nome_razaosocial.length < 3", type="button") Pesquisar Sacados
				button.btn.btn-default(ng-click="Pesquisa.nome_razaosocial='';pesqSacado()", type="button") Zerar Pesquisa
.panel.panel-primary
	.panel-heading
		h3.panel-title Relatórios - Clientes em Atraso
	table.table
		thead
			tr
				th.clearfix
					span.pull-right Total atrasado: {{total_atrasado|currency}}
		tr
			th Cliente
			th Data
			th Valor
		tr(ng-repeat="item in BoletosNovos")
			td 
				a(href="#/sacados/view/{{item.Sacado.id}}") {{item.Sacado.nome_razaosocial}}
			td {{item.BoletoNovo.data_vencimento|date}}
			td {{item.BoletoNovo.valor|currency}}

app/Plugin/Admin/webroot/app/Relatorio/index.html

<div class="row">
  <div class="col-md-7">
    <div ng-include="'/admin/app/common/pagination.html'"></div>
  </div>
  <div class="col-md-5">
    <div style="margin: 20px 0" class="input-group">
      <input name="pesquisaSacado" ng-model="Pesquisa.nome_razaosocial" placeholder="Pesquise pelo Nome/Razão Social" class="form-control"/><span class="input-group-btn">
        <button ng-click="pesqSacado()" ng-disabled="Pesquisa.nome_razaosocial.length &lt; 3" type="button" class="btn btn-default">Pesquisar Sacados</button>
        <button ng-click="Pesquisa.nome_razaosocial='';pesqSacado()" type="button" class="btn btn-default">Zerar Pesquisa</button></span>
    </div>
  </div>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Relatórios - Clientes em Atraso</h3>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th class="clearfix"><span class="pull-right">Total atrasado: {{total_atrasado|currency}}</span></th>
      </tr>
    </thead>
    <tr>
      <th>Cliente</th>
      <th>Data</th>
      <th>Valor</th>
    </tr>
    <tr ng-repeat="item in BoletosNovos">
      <td> <a href="#/sacados/view/{{item.Sacado.id}}">{{item.Sacado.nome_razaosocial}}</a></td>
      <td>{{item.BoletoNovo.data_vencimento|date}}</td>
      <td>{{item.BoletoNovo.valor|currency}}</td>
    </tr>
  </table>
</div>
