app/Plugin/Admin/webroot/app/Log/index.html

<div ng-if="isView" ng-include="'/admin/app/Log/view.html'"></div>
<div ng-if="!isView">
  <div class="row">
    <div class="col-md-7">
      <div ng-include="'/admin/app/common/pagination.html'"></div>
    </div>
    <div class="col-md-5">
      <select style="margin-top:20px;" ng-options="item.Usuario.id as item.Usuario.username for item in Usuarios" name="usuario_id" ng-model="Pesquisa.usuario_id" class="form-control">
        <option value="">Todos</option>
      </select>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading clearfix">
      <h3 class="panel-title">Logs<span class="pull-right">Página {{pagination.page}} de {{pagination.pageCount}}</span></h3>
    </div>
    <div class="panel-footer clearfix">
      <div class="btn-group pull-right"><a ng-click="add()" class="btn btn-primary">Nova</a></div>
    </div>
    <div ng-if="loading" class="panel-body">
      <div ng-include="'/admin/app/common/loading.html'"></div>
    </div>
    <div ng-if="norecords" class="panel-body">
      <div ng-include="'/admin/app/common/norecords.html'"></div>
    </div>
    <table ng-if="!loading &amp;&amp; !norecords" class="table">
      <tr>
        <th class="col-md-2">&nbsp;</th>
        <th>Data</th>
        <th>Usuário</th>
        <th>Controller</th>
        <th>Ação</th>
      </tr>
      <tr ng-repeat="item in Logs">
        <td>
          <div class="btn-group"><a ng-click="view(item)" tooltip="Ver Log" class="btn btn-default"><i class="fa fa-2x fa-eye"></i></a></div>
        </td>
        <td>{{item.Log.data | date:'dd/MM/yy H:mm:ss'}}</td>
        <td>{{item.Usuario.username}}</td>
        <td>{{item.Log.controller}}</td>
        <td>{{item.Log.action }}</td>
      </tr>
    </table>
  </div>
</div>

app/Plugin/Admin/webroot/app/Log/index.jade
div(ng-if="isView",ng-include="'/admin/app/Log/view.html'")
div(ng-if="!isView")
	.row
		.col-md-7
			div(ng-include="'/admin/app/common/pagination.html'")
		.col-md-5
			select.form-control(style="margin-top:20px;",ng-options="item.Usuario.id as item.Usuario.username for item in Usuarios",name="usuario_id",ng-model="Pesquisa.usuario_id")
				option(value="") Todos
	.panel.panel-primary
		.panel-heading.clearfix
			h3.panel-title Logs
				span.pull-right Página {{pagination.page}} de {{pagination.pageCount}}
		.panel-footer.clearfix
			.btn-group.pull-right
				a.btn.btn-primary(ng-click="add()") Nova
		.panel-body(ng-if="loading")
			div(ng-include="'/admin/app/common/loading.html'")
		.panel-body(ng-if="norecords")
			div(ng-include="'/admin/app/common/norecords.html'")
		table.table(ng-if="!loading && !norecords")
			tr
				th.col-md-2 &nbsp;
				th Data
				th Usuário
				th Controller
				th Ação
			tr(ng-repeat="item in Logs")
				td
					.btn-group
						a.btn.btn-default(ng-click="view(item)",tooltip="Ver Log")
							i.fa.fa-2x.fa-eye
				td {{item.Log.data | date:'dd/MM/yy H:mm:ss'}}
				td {{item.Usuario.username}}
				td {{item.Log.controller}}
				td {{item.Log.action }}
